@import "tailwindcss";

@theme {
  --color-brand-blue: #0047AB;
  --color-brand-yellow: #FFCC00;
  
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-display: "Plus Jakarta Sans", sans-serif;
}