---
import Layout from "../layouts/Layout.astro";
import Countries from "../components/Countries.astro";
import Hero from "../components/Hero.astro";
import heroImage from "../assets/destinations.jpg";
---

<Layout>
    <Hero
        PageName="destinations"
        image={heroImage}
        title="Explore The World"
        subtitle="From the historic streets of Europe to the pristine beaches of Oceania, discover your next adventure with Trip2Go."
    />
    <main class="bg-gray-50 py-16 md:py-24">
        <Countries />
    </main>
</Layout>
