---
import Layout from "../layouts/Layout.astro";
import MainForm from "../components/MainForm.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import PopularDestinations from "../components/PopularDestinations.astro";
import DocumentSection from "../components/documentSection.astro";
import Testimonials from "../components/Testimonials.astro";
import CallToAction from "../components/CallToAction.astro";
import heroImage from "../assets/hero2.jpg";
---

<Layout>
	<main class="grow w-full relative">
		<Hero PageName="index" image={heroImage} />
		<MainForm />
		<Services />
		<PopularDestinations />
		<DocumentSection />
		<Testimonials />
		<CallToAction />
	</main>
</Layout>
